

canvas {
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

}




.side_panel
{
	position: fixed;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	list-style: none;
	margin-left: 0;
	padding-left: 0;	
	

	flex-direction: column;
	-webkit-flex-direction: column;
	

	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
	box-shadow:
	inset 0 1px rgba(101,114,126,1),
	inset 0 0 1px rgba(140,150,170,.8),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);	
}


.side_panel-camera
{
	width: 80%;
	height: auto;
	margin: 20px auto 0 auto;
	display: -webkit-box;
	display: flex;
}


.button1:hover, .button3:hover { cursor: pointer }
.button1, .button3
{ 
	width: 100%;
	font-family: arial,sans-serif;
	text-align:  center;
	font-size: 26px;
	color: rgb(205,216,228);
	text-shadow: 0 -1px rgb(46,53,58);
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;
	line-height: 2em;
	padding: 0px;
	outline: none;
	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
	box-shadow:
	inset 0 1px rgba(101,114,126,1),
	inset 0 0 1px rgba(140,150,170,.8),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
}

.button1:active 
{
	box-shadow:
	inset 0 1px 3px rgba(0,10,20,.5),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
}
.button1:focus:not(:active) 
{
	border: 1px solid rgb(22,32,43);
	border-bottom: 1px solid rgb(25,34,45);
	background: rgb(53,61,71);
	box-shadow:
	inset 0 1px 3px rgba(0,10,20,.5),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
	pointer-events: none;
}

.side_panel-button
{
	width: 100px;
	height: auto;
	margin: 40px auto 0 auto;
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;	
}


.button3
{
	font-size: 18px;
	line-height: 1em;
	margin: 20px auto;	
	padding: 10px 0;
}

.side_panel-button .button2
{
	width: 100%;
	height: 80px;
	margin: 2px auto;
	color: #cccccc;
	background: #ffffff;
	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
}

.button2:hover { cursor: pointer }

.button2 img 
{
	display: block;
	width: 95%;
	height: 95%;
	margin: auto;
} 


.input-height
{
	width: 80%;
	height: 90px;
	margin: 20px auto;	
	
	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
	box-shadow:
	inset 0 1px rgba(101,114,126,1),
	inset 0 0 1px rgba(140,150,170,.8),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);	
	
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;		
}


.text_1
{
	display: block;
	margin: 10px auto 0 auto;
	
	font-family: arial,sans-serif;
	font-size: 18px;
	color: rgb(205,216,228);
	text-shadow: 0 -1px rgb(46,53,58);
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;
	padding: 1px 1.2em;
	outline: none;
	text-align:  center;
}



.input-height input
{
	display: block;
	width:80%;
	margin: auto;
	
	border-radius: 2px;	
	font-size: 18px;
	text-align:  center;
	
	text-shadow: 0 -1px rgb(46,53,58);
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;
	line-height: 2em;
	padding: 0;
	outline: none;
	
	border-radius: 3px;	
}







