

canvas {
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

}
.toolbar-wrap {
  position: absolute;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.toolbar {
  color: #4e4e55;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: flex;
}
.toolbar ul {
  list-style: none;
  margin: none;
}

.toolbar__group {
  padding: 8px 7px;
  margin: 0;
  display: -webkit-box;
  display: flex;
}
.toolbar__group > li {
  position: relative;
}
.toolbar__group > li.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button17:hover { cursor: pointer }
.button17 {
  
  font-family: arial,sans-serif;
  font-size: 11px;
  color: rgb(205,216,228);
  text-shadow: 0 -1px rgb(46,53,58);
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  line-height: 2em;
  padding: 1px 1.2em;
  outline: none;
  border: 1px solid rgba(33,43,52,1);
  border-radius: 3px;
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
  box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
   
  
}
.button17:active {
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
.button17:focus:not(:active) {
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}

.side_panel
{
	position: fixed;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	list-style: none;
	margin-left: 0;
	padding-left: 0;	
	

	flex-direction: column;
	-webkit-flex-direction: column;
	

	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
	box-shadow:
	inset 0 1px rgba(101,114,126,1),
	inset 0 0 1px rgba(140,150,170,.8),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);	
}

.side_panel-button
{
	width: 100%;
	height: auto;
	margin-top: 40px;
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;	
}

.side_panel-button .button2
{
	width: 80%;
	height: 100px;
	margin: 0px auto;
	color: #cccccc;
	background: #ffffff;
	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	
}


.input-height
{
	width: 80%;
	height: 50px;
	margin: 20px auto;
	background: #ffffff;	
	border: 1px solid rgba(33,43,52,1);	
}

.input-height input
{
	display: block;
	width:80%;
	margin: 20px auto;
	border: 1px solid black;
	border-radius: 5px;	
}







