

canvas 
{
	background: #ffffff;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}


.modal 
{
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}


.modal_wrap 
{
	display: -webkit-box;
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


.modal_window 
{
	position: relative;
	margin: auto;
	width: 80%;	
	height: 90%;	
	max-width: 1100px;	
	max-height: 700px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.modal_header 
{
	height: 70px;
	min-height: 70px;
	background: #e8e8e8;
	border-radius: 8px 8px 0 0;
	border-bottom: 2px solid #f2f2f2;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-right: 30px;
}

.modal_header-body 
{
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 1;
	flex: 1 0 0;
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.modal_title 
{
	padding-left: 60px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}

.modal_name 
{
	font-family: arial,sans-serif;
	font-size: 24px;
	margin-top: 0.3em;
	height: 29px;
	color: #666;
}

.modal_body 
{
	position: relative;
	-webkit-box-flex: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: flex;
	overflow: auto;
	
	height: 100%;
}

.modal_body_content
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
}

.modal_body_content_grid
{	
	display: -ms-grid;
	display: grid;
	grid-gap: 1rem;
	-ms-grid-columns: (1fr)[5];
	grid-template-columns: repeat(5,1fr);
	grid-auto-rows: 170px;
	border-radius: 8px;	
	margin: auto;
	padding: 50px; 
}


.block_form_1
{

	background-color: #fff;
	border: 2px dashed #d5d5d5 !important;
	
}


.block_form_1 img
{
max-width: 100%;

max-height: 100%;

-o-object-fit: contain;

object-fit: contain;	
}

.modal_footer 
{
	height: 10px;
	min-height: 10px;
	background: #e8e8e8;
	border-radius: 0 0 8px 8px;	
	border-top: 2px solid #f2f2f2;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-right: 30px;
}




.top_panel_1
{
	position: fixed;
	left: 0%;
	top: 0;
	list-style: none;
	margin-left: 0;
	padding-left: 0;	
	width: 100%;

	flex-direction: column;
	-webkit-flex-direction: column;
	

	border-bottom: 1px solid #f1f1f1;


	background-color:#ffffff; 
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -o-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -ms-linear-gradient(top, #ffffff 0% ,#e3e3e3 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); 
	background-image: linear-gradient(top, #ffffff 0% ,#e3e3e3 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  	
}


.title_1 h1
{
	display: block;
	margin: 10px auto 10px auto;
	
	font-family: arial,sans-serif;
	font-size: 15px;
	color: #666;
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;

	outline: none;
	text-align:  center;	
}


.left_panel_1
{
	position: fixed;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	list-style: none;
	margin-left: 0;
	padding-left: 0;	
	width: 120px;

	flex-direction: column;
	-webkit-flex-direction: column;
	
	
	border-radius: 3px;
	background-color:#f1f1f1; 
   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
}


.right_panel_1
{
	position: fixed;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	list-style: none;
	margin-right: 0;
	padding-right: 0;		

	flex-direction: column;
	-webkit-flex-direction: column;	

	
	border-radius: 3px 0 0 3px;
	background-color:#f1f1f1; 
   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
}


.side_panel-camera
{
	width: 100px;
	height: auto;
	margin: 20px auto 0 auto;
	display: -webkit-box;
	display: flex;
}


.button1:hover, .button3:hover { cursor: pointer }
.button3
{ 
	width: 100%;
	font-family: arial,sans-serif;
	text-align:  center;
	font-size: 26px;
	color: rgb(205,216,228);
	text-shadow: 0 -1px rgb(46,53,58);
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;
	line-height: 2em;
	padding: 0px;
	outline: none;
	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
	box-shadow:
	inset 0 1px rgba(101,114,126,1),
	inset 0 0 1px rgba(140,150,170,.8),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
}


.button1
{
	width: 100%;
	text-decoration:none; 
	text-align:center; 
	padding:11px 0; 
	border:solid 1px #b3b3b3; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:18px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#737373; 
	background-color:#ffffff; 
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -o-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -ms-linear-gradient(top, #ffffff 0% ,#e3e3e3 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); 
	background-image: linear-gradient(top, #ffffff 0% ,#e3e3e3 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
}
  

a.link_page_1
{
	display: block;
	width: 100px;
	font-family: arial,sans-serif;
	text-align:  center;
	text-decoration: none;	
	
	margin: 10px;	
	padding: 10px 0;
	font-size: 15px;
	color: #666;
	
	background-color:#ffffff; 
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -o-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); 
	background-image: -ms-linear-gradient(top, #ffffff 0% ,#e3e3e3 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); 
	background-image: linear-gradient(top, #ffffff 0% ,#e3e3e3 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

.button1:active 
{
	box-shadow:
	inset 0 1px 3px rgba(0,10,20,.5),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
}
.button1:focus:not(:active) 
{
	border: 1px solid rgb(22,32,43);
	border-bottom: 1px solid rgb(25,34,45);
	background: rgb(53,61,71);
	box-shadow:
	inset 0 1px 3px rgba(0,10,20,.5),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
	pointer-events: none;
}

.side_panel-button
{
	width: 100px;
	height: auto;
	margin: 40px auto 0 auto;
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;	
}


.button3
{
	font-size: 18px;
	line-height: 1em;
	margin: 20px auto;	
	padding: 10px 0;
}

.side_panel-button .button2
{
	width: 100%;
	height: 80px;
	margin: 2px auto;
	color: #cccccc;
	background: #ffffff;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
}

.button2:hover { cursor: pointer }

.button2 img 
{
	display: block;
	width: 95%;
	height: 95%;
	margin: auto;
} 


.input-height
{
	width: 100px;
	height: 90px;
	margin: 20px auto;	
	
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	background-color:#f1f1f1; 
	
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;		
}


.text_1
{
	display: block;
	margin: 10px auto 0 auto;
	
	font-family: arial,sans-serif;
	font-size: 15px;
	color: #666;
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;

	outline: none;
	text-align:  center;
}



.input-height input
{
	display: block;
	width:80%;
	margin: auto;
	
	border-radius: 2px;	
	font-size: 18px;
	text-align:  center;
	
	text-shadow: 0 -1px rgb(46,53,58);
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;
	line-height: 2em;
	padding: 0;
	outline: none;
	
	border-radius: 3px;	
}







