.view-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  height: 100%;
  &__control {
    display: none;
    animation-duration: 0.2s;
    animation-fill-mode: none;
    animation-name: fadeRight;
  }
  .overlay-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__top {
    margin-bottom: auto;
    min-height: 147px;
  }
  &__middle {
    min-height: 165px;
  }
  &__bottom {
    margin-top: auto;
    margin-bottom: -5px;
    flex-basis: 200px;
    justify-content: flex-end;
    min-height: 50px;
  }
  &__top,
  &__middle {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &-wrap {
    position: absolute;
    right: 9px;
    top: 0;
    display: flex;
    height: 100%;
  }
  &__group {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .icon-3d-wrap {
    margin-bottom: 5px;
  }
  .icon-3d-wrap {
    span {
      transition: all .2s;
    }
  }
  .change-view-mode {
    display: none;
  }
  .control-2d {
    display: block;
    position: relative;    
  }
  .control-bird {
    position: relative;        
  }
  .control-man {
    position: relative;        
  }
  .ic-man svg,
  .ic-bird svg {
    display: none;
  }
  .ic-bird .svg-ic-bird-dims {
    display: block;
    margin-left: 4px;
    margin-top: 4px;
  }
  .ic-man .svg-ic-man-dims {
    display: block;
    margin-top: 0px;
  }
  .icon-2d {
    display: none;
  }
}

.help-btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.catalog-buttons {
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  &__button {
    margin-bottom: 8px;
    width: 54px;
    height: 54px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}